*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/ru/ztrixdev/projects/zellrapp/preferences/
/app/src/main/java/ru/ztrixdev/projects/zellrapp/supabase/supabasecreds
/app/src/main/assets/dgissdk.key
/app/src/main/java/ru/ztrixdev/projects/zellrapp/network/Info.kt
.idea
.kotlin